#{extends 'main.html' /}
#{set title:'login' /}

<div id="login">

    <p class="testinfo">Администратор: admin admin<br><br>
      Пользователь: demo demo</p>

    <form action = "@{Application.auth()}" id = "loginForm" method="post">
        <p>
            <label>LOGIN:</label>
            <input type="text" id="username" name="username" value="${flash.username}" />
        </p>
        <p>
            <label>PASSWORD:</label>
            <input type="password" id="password" name="password" value="" />
        </p>
        <p class="action">
            <input type="submit" value="Go!">
        </p>
    </form>
    <p>
        <a href="@{registration()}">Зарегестрироваться</a>
    </p>