#{extends 'main.html'/}
#{set title:'Регистрация'/}

<h1>Регистрация</h1>

<form action = "@{Application.saveUser()}" id="regitForm" method="post" >
    #{field 'user.username'}
    <p class="">
        <label>Login:</label>
        <input type="text" class="username" value="${user?.username}" />
        <span class="error">${field.error}</span>
    </p>
    #{/field}
    #{field 'user.fullname'}
    <p>
        <label>Full name:</label>
        <input type="text" class="fullname" value="${user?.fullname}" />
        <span class="error">${field.error}</span>
    </p>
    #{/field}
    #{field 'user.password'}
    <p>
        <label>Password:</label>
        <input type="password" class="password" value="${user?.hashpassword}" />
        <span class="error">${field.error}</span>
    </p>
    #{/field}
    #{field 'ConfPass'}
    <p>
        <label>Verify password:</label>
        <input type="password" class="verifyPass" value="${ConfPass}" />
        <span class="error">${field.error}</span>
    </p>
    #{/field}
    <p class="back">
        <input type="submit" value="Зарегестрироваться" />
    </p>
</form>
<a href="@{Application.index()}">Back to login</a>
